<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>π-Trans</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="headerDiv">
      <div class = "heading">
        π-Trans
      </div>
      <div class="dropdownDiv">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="chatbox">
      <div class="chatText">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div> {{ message }} <br></div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
    </div>
  </body>
</html>
